.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  gap: 13px; 
}

.header__links-list-item {
  list-style: circle inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: inherit;
}

.header__link_active {
  text-decoration: none;
}


.header__logo {
  display: block;
  width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;  
  text-underline-offset: 5px; 
  margin: 0;                    
  font-size: 18px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0/0.6);
  z-index: 0;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  background-position: center;
  background-size: cover;
  color: #fff;
  
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  all: unset;
  width: 256px;
  height: 51px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;

}